*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #548689;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: cente  r;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border:none;
    color: #b0413e;
    background-color: white;


}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
.msg-container{
color :white;
font-size: 50px;
align-self: center;
display:flex;
display: none;
}
#newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
border: none;
}